body {
    letter-spacing: .5rem;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}
h1 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    width: 100%;
}
h3 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: none;
    letter-spacing: 0.01rem;

}
body,
h1 {
    text-transform: uppercase;
}
body,
h1,
h3 {
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
}
.color1,
.color2 {
    border-radius: 8px;
    cursor: pointer;
}
.copy-button {
    display: none;
    margin: 0 auto;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 0;
    background: #ade8f4;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    transition: background .4s;
    cursor: pointer;
}

.copy-button:hover {
    background: #ffcdb2;
    transform: scale(1.03);
}